/*-----------------------------------
  sidebar small only desktop
-----------------------------------*/

@media (min-width: 1200px) {
    /*-- small sidebar --*/
    #sidebar.active {
        min-width: 0px;
        max-width: 0px;
        text-align: center;
    }
    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    #sidebar.active ul li a {
        padding: 10px 0;
        float: left;
        width: 100%;
        text-align: center;
    }
    #sidebar.active ul li a i {
        width: 100%;
        text-align: center;
        margin: 0 0 5px 0;
        font-size: 24px;
    }
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    #sidebar.active .dropdown-toggle::after {
        display: none;
    }
    nav#sidebar.active .logo_big {
        text-align: center;
        padding: 8px 0 7px;
    }
    #sidebar.active .logo_big img {
        height: 45px;
    }
    #sidebar.active .logo_section {
        padding: 0;
        margin-bottom: 10px;
        background: #fff;
        width: 100%;
    }
    #sidebar.active ul.components {
        padding: 0;
    }
    #sidebar.active .logo_big {
        display: none;
    }
    .logo_icon {
        display: none;
    }
    #sidebar.active .logo_icon {
        display: block;
    }
    #sidebar.active .logo_big img {
        height: 45px;
    }
    #sidebar.active h4 {
        display: none;
    }
    #sidebar.active .sidebar_user_info {
        display: none;
    }
    #sidebar.active ul li a span {
        font-size: 13px;
    }
}

/*-----------------------------------
  end sidebar small only desktop
-----------------------------------*/

@media (min-width: 1200px) and (max-width: 1600px) {
    .counter_section {
        display: block;
    }
    .couter_icon {
        display: block;
        width: 100%;
    }
    .couter_icon>div {
        padding-right: 0;
    }
    .counter_no p.total_no {
        text-align: center;
    }
    .counter_no .head_couter {
        text-align: center;
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .counter_section {
        display: block;
    }
    .couter_icon {
        display: block;
        width: 100%;
    }
    .couter_icon>div {
        padding-right: 0;
    }
    .counter_no p.total_no {
        text-align: center;
    }
    .counter_no .head_couter {
        text-align: center;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 575px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 575px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 1199px) {
    * {
        box-sizing: border-box;
    }
    
    #sidebar.active {
        min-width: 0px;
        max-width: 0px;
        text-align: left;
    }

    .right_topbar .icon_info ul.user_profile_dd {
        display: none;
    }
    .right_topbar {
        float: right;
        padding: 0;
        margin: 5px 15px 5px 0;
    }

    .dash_head {
        padding: 30px 30px 25px;
    }

    .dash_blog_inner .list_cont {
        border-bottom: 1px solid #f2f2f2;
        padding: 20px 10px;
        text-align: left;
    }
    .task_list li {
        padding: 15px 10px;
        color: #99abb4;
        font-size: 15px;
        line-height: normal;
        float: left;
        height: 88px;
        width: 100%;
        margin-top: 1px;
    }

    .msg_list_main ul li {
        display: block;
        padding: 10px 10px;
    }

    .msg_list_main ul li span img{
        width: 60px;
        height: 60px;
    }

    .dash_blog{
        height: auto;
    }
}

@media (max-width: 350px) {
    .icon_info ul li {
        margin: 15px 0 0 0;
    }
}

@media (max-width: 767px) {
    .counter_section {
        padding: 30px 25px;
    }

    .margin_bottom_30{
        margin-bottom: 10px;
    }
    .counter_no {
        padding: 0;
    }
    .counter_no .head_couter {
        font-size: 16px;
    }
    .dash_head {
        padding: 30px 30px 25px;
    }

    .dash_blog_inner .list_cont {
        border-bottom: 1px solid #f2f2f2;
        padding: 10px 0px;
        text-align: center;
    }
    .task_list li {
        padding: 15px 10px;
        color: #99abb4;
        font-size: 15px;
        line-height: normal;
        float: left;
        width: 100%;
    }

    .msg_list_main ul li {
        display: block;
        padding: 10px 10px;
        height: auto;
    }

    .msg_list_main ul li span img{
        width: 60px;
        height: 60px;
    }

    .dash_blog{
        height: auto;
    }

    .white_shd {
        background: #fff;
        box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
        border-radius: 5px;
        height: auto;
    } 

    .card-body  {
       padding: 0px;
        width: 100%;
    }
    .area_chart{
        padding: 5px 0px;
         width: 100%;
     }
}

@media (max-width: 420px) {
    .contact_inner .left {
        width: 100%;
        float: left;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .contact_inner .right {
        width: 100%;
        float: left;
    }
}